force-app/main/default/flows/newFlow-3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewApprove</name>
        <label>NewApprove</label>
        <locationX>500</locationX>
        <locationY>275</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>NewMail</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>hchhhhj</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>hchhhhj</assignToReference>
            <name>instanceId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewMail</name>
        <label>NewMail</label>
        <locationX>706</locationX>
        <locationY>258</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>uyvyty.Branch2__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>adacas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>newFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New</name>
        <label>New</label>
        <locationX>167</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>NewApprove</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch_Code__c</field>
            <value>
                <elementReference>hchhhhj</elementReference>
            </value>
        </inputAssignments>
        <object>Branch__c</object>
    </recordCreates>
    <screens>
        <name>NewFlow</name>
        <label>NewFlow</label>
        <locationX>230</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <dataType>Number</dataType>
            <fieldText>Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Test</name>
            <dataType>String</dataType>
            <fieldText>Test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>NewFlow</startElementReference>
    <variables>
        <name>hchhhhj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uyvyty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Branch1__c</objectType>
    </variables>
</Flow>
